<div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" placeholder="Title" name="title" value="{{this.title}}">
    <label for="floatingInput">Title</label>
</div>
<div class="form-floating mb-3">
    <textarea name="descr" cols="40" rows="5" class="form-control" id="floatingInput"
        placeholder="Description">{{this.descr}}</textarea>
    <label for="floatingInput">Description</label>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Orgin" name="orgin" value="{{this.orgin}}">
        <label for="floatingInput">Orgin</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Current" name="current" value="{{this.current}}">
        <label for="floatingInput">Current</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Catagory" name="catagory" value="{{this.catagory}}">
        <label for="floatingInput">Catagory</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Manufacturer" name="mnfctr" value="{{this.mmnfctr}}">
        <label for="floatingInput">Manufacturer</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Form Factor" name="frm_fctr" value="{{this.frm_fctr}}">
        <label for="floatingInput">Form Factor</label>
    </div>
</div>

<label for="">The Following are only entered if applicable:</label>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Storage Amount in GB"
            name="strg_amnt_gb" value="{{this.strg_amnt_gb}}">
        <label for="floatingInput">Storage Amount in GB</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Memory Amount in MB" name="mem_amnt_mb" value="{{this.mem_amnt_mb}}">
        <label for="floatingInput">Memory Amount in MB</label>
    </div>
</div>

<div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>
</div>