<!-- Modal -->
<div class="modal fade" id="itemdelmodal{{this.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><i class="bi bi-exclamation-triangle"></i> Delete Item?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <strong class="text-danger">Are you sure you want to delete this entry:</strong>
                <br />
                <h2><strong>{{this.title}}</strong></h2>
                <br />
                <p class="text-muted">Description</p>
                <strong>{{this.descr}}</strong>
                <br />
                <p class="text-muted">Catagory</p>
                <strong>{{this.catagory}}</strong>
                <br />
                <p class="text-muted">Storage Amount GB</p>
                <strong>{{this.strg_amnt_gb}}</strong>
                <br />
                <p class="text-muted">Memory Amount MB</p>
                <strong>{{this.mem_amnt_mb}}</strong>
                <br />
                <p class="text-muted">Manufacturer</p>
                <strong>{{this.mnfctr}}</strong>
                <br />
                <p class="text-muted">Form Factor</p>
                <strong>{{this.frm_fctr}}</strong>
                <br />
                <p class="text-muted">Part Number</p>
                <strong>{{this.part_num}}</strong>
                <br />
                <p class="text-muted">Serial Number</p>
                <strong>{{this.serial_num}}</strong>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a href="/itemdel/{{this.id}}" type="button" class="btn btn-danger"><i class="bi bi-trash"></i>
                    Delete</a>
            </div>
        </div>
    </div>
</div>