<div class="modal fade" id="softviewmodal{{this.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Quick View</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h2><strong>{{this.name}}</strong></h2>
                <hr />
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        Version
                        <strong class="text-primary">{{this.version}}</strong></li>
                    <li class="list-group-item">
                        Manufacturer
                        <strong class="text-primary">{{this.mnfctr}}</strong></li>
                    <li class="list-group-item">
                        Catagory
                        <strong class="text-primary">{{this.catagory}}</strong></li>
                    <li class="list-group-item">
                        Format
                        <strong class="text-primary">{{this.format}}</strong></li>
                    <li class="list-group-item">
                        Architecture
                        <strong class="text-primary">{{this.architecture}}</strong></li>
                    <li class="list-group-item">
                        Number of Media
                        <strong class="text-primary">{{this.num_of_media}}</strong></li>
                    <li class="list-group-item">
                        Product Key
                        <strong class="text-primary">{{this.prod_key}}</strong></li>
                    <li class="list-group-item">
                        Date Added
                        <strong class="text-primary">{{this.time_added}}</strong></li>
                    <li class="list-group-item">
                        Last Modified
                        <strong class="text-primary">{{this.last_modified}}</strong></li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>