<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Name" name="name" value="{{this.name}}">
        <label for="floatingInput">Name</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Manufacturer" name="mnfctr"
            value="{{this.mnfctr}}">
        <label for="floatingInput">Manufacturer</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Version" name="version"
            value="{{this.version}}">
        <label for="floatingInput">Version</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Format" name="format"
            value="{{this.format}}">
        <label for="floatingInput">Format</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Number of Media" name="num_of_media"
            value="{{this.num_of_media}}">
        <label for="floatingInput">Number of Media</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Architecture" name="architecture"
            value="{{this.architecture}}">
        <label for="floatingInput">Architecture</label>
    </div>
</div>

<label for="">The Following is only entered if applicable:</label>
<div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" placeholder="Product Key" name="prod_key"
        value="{{this.prod_key}}">
    <label for="floatingInput">Product Key</label>
</div>

<label for="inputGroupFile04">Choose an image</label>
<div class="input-group">
    <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04"
        aria-label="Upload" name="softwareImage">
</div>

<div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>
</div>