{{#if removedSoftware}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    Software Removed
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}
{{#if editedSoftware}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{editedSoftware}} has been updated
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}
{{#if addedSoftware}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{addedSoftware}} has been added
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}
{{#if error}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    Could not complete operation
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}
{{#if alert}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{alert}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

<div class="container">
    <div class="card mb-3">
        <div class="card-header">Search Software Catalog</div>
        <div class="card-body">
            <form class="container d-flex" method="POST" action="/software-catalog">
                <input class="form-control me-sm-2" type="text" name="search" placeholder="Search">
                <button class="btn btn-secondary align-self-center" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <h1>Software</h1>
    </div>
    <div class="col-6 d-flex justify-content-end">
        <a type="button" class="btn btn-primary align-self-center" data-bs-toggle="modal"
            data-bs-target="#softaddmodal"><i class="bi bi-plus-lg"></i> Add Software</a>
        {{!-- <a href="/add-software" type="button" class="btn btn-primary align-self-center"><i
                class="bi bi-plus-lg"></i>Add Software</a> --}}
        {{> softaddmodal}}
    </div>
</div>

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Manufacturer</th>
            <th scope="col">Version</th>
            <th scope="col">Catagory</th>
            <th scope="col">Format</th>
            <th scope="col"># of Media</th>
            <th scope="col">Architecture</th>
            <th scope="col" class="text-end">Action</th>
        </tr>
    </thead>
    <tbody>

        {{#each rows}}

        <tr>
            <td>{{this.name}}</td>
            <td>{{this.mnfctr}}</td>
            <td>{{this.version}}</td>
            <td>{{this.catagory}}</td>
            <td>{{this.format}}</td>
            <td>{{this.num_of_media}}</td>
            <td>{{this.architecture}}</td>
            <td class="text-end">
                <div>
                    {{!-- <a href="/view-software/{{this.id}}" type="button" class="btn btn-light btn-sm mt-1"><i
                            class="bi bi-eye"></i> View</a> --}}
                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                        <a href="/view-software/{{this.id}}" type="button" class="btn btn-light btn-sm mt-1"><i
                                class="bi bi-eye"></i> View</a>
                        <div class="btn-group" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-light btn-sm mt-1 dropdown-toggle"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="">
                                <a class="dropdown-item" href="/view-software/{{this.id}}">Detailed View</a>
                                <a class="dropdown-item" data-bs-toggle="modal"
                                    data-bs-target="#softviewmodal{{this.id}}">Quick View</a>
                            </div>
                        </div>
                    </div>
                    <a type="button" class="btn btn-warning btn-sm mt-1" data-bs-toggle="modal"
                        data-bs-target="#softeditmodal{{this.id}}"><i class="bi bi-pencil"></i> Edit</a>
                    <a type="button" class="btn btn-danger btn-sm mt-1" data-bs-toggle="modal"
                        data-bs-target="#softdelmodal{{this.id}}"><i class="bi bi-trash"></i>
                        Delete</a>
                </div>
            </td>
        </tr>
        {{> softdelmodal}}
        {{> softeditmodal}}
        {{> softviewmodal}}
        {{/each}}
    </tbody>
</table>