<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/software-catalog">Software Catalog</a></li>
            <li class="breadcrumb-item active" aria-current="page">View Item</li>
        </ol>
    </nav>

    <div class="view-user p-5">
        {{#each rows}}
        <div class="row">
            <div class="col">
                {{!-- <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Manufacturer</th>
                            <th scope="col">Version</th>
                            <th scope="col">Catagory</th>
                            <th scope="col">Format</th>
                            <th scope="col"># of Media</th>
                            <th scope="col">Architecture</th>
                            <th scope="col">Product Key (if applicable)</th>
                            <th scope="col" class="text-end">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{this.name}}</td>
                            <td>{{this.mnfctr}}</td>
                            <td>{{this.version}}</td>
                            <td>{{this.catagory}}</td>
                            <td>{{this.format}}</td>
                            <td>{{this.num_of_media}}</td>
                            <td>{{this.architecture}}</td>
                            <td>{{this.prod_key}}</td>
                            <td class="text-end">
                                <div>
                                    <a href="/edit-software/{{this.id}}" type="button"
                                        class="btn btn-light btn-sm mt-1"><i class="bi bi-pencil"></i> Edit</a>
                                    <a href="/softwaredel/{{this.id}}" type="button"
                                        class="btn btn-danger btn-sm mt-1"><i class="bi bi-trash"></i>
                                        Delete</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table> --}}

                <div class="card mb-3">
                    <h3 class="card-header">{{this.name}}</h3>
                    {{!-- <div class="card-body">
                        <p class="card-text">{{this.catagory}}</p>
                    </div> --}}
                    {{!-- <div class="card-body">
                    </div> --}}
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-primary">Version: <strong>{{this.version}}</strong></li>
                        <li class="list-group-item text-primary">Manufacturer: <strong>{{this.mnfctr}}</strong></li>
                        <li class="list-group-item text-primary">Catagory: <strong>{{this.catagory}}</strong></li>
                        <li class="list-group-item text-primary">Format: <strong>{{this.format}}</strong></li>
                        <li class="list-group-item text-primary">Architecture: <strong>{{this.architecture}}</strong></li>
                        <li class="list-group-item text-primary">Number of Media: <strong>{{this.num_of_media}}</strong></li>
                    </ul>
                    <div class="card-body">
                    <a type="button" class="btn btn-warning btn-sm mt-1" data-bs-toggle="modal"
                        data-bs-target="#softeditmodal{{this.id}}"><i class="bi bi-pencil"></i> Edit</a>
                    <a type="button" class="btn btn-danger btn-sm mt-1" data-bs-toggle="modal" data-bs-target="#softdelmodal{{this.id}}"><i
                            class="bi bi-trash"></i>
                        Delete</a>
                    </div>
                    <div class="card-footer text-muted">
                        Product Key (if applicable): <strong>{{this.prod_key}}</strong>
                        <br />
                        Date Added: <strong>{{this.time_added}}</strong>
                        <br/>
                        Last Modified: <strong>{{this.last_modified}}</strong>
                    </div>
                </div>

                {{> softdelmodal}}
                {{> softeditmodal}}
            </div>
        </div>
        {{/each}}
        <div class="card mb-3">
            <h6 class="card-header">Software Image (If avalable): </h6>
            <img src="{{send}}" alt="No Image Avalable" srcset="" class="img-fluid mx-auto d-block">
            <div class="card-footer">
                <p></p>
            </div>
        </div>


    </div>
</div>