<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/item-catalog">Item Catalog</a></li>
            <li class="breadcrumb-item active" aria-current="page">View Item</li>
        </ol>
    </nav>

    <div class="view-user p-5">
        {{#each rows}}
        <div class="row">
            <div class="col">
                {{!-- <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Description</th>
                            <th scope="col">Orgin</th>
                            <th scope="col">Current</th>
                            <th scope="col">Catagory</th>
                            <th scope="col">Storage GB</th>
                            <th scope="col">Memory MB</th>
                            <th scope="col">Manufacturer</th>
                            <th scope="col">Form Factor</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{this.title}}</td>
                            <td>{{this.descr}}</td>
                            <td>{{this.orgin}}</td>
                            <td>{{this.current}}</td>
                            <th>{{this.catagory}}</th>
                            <td>{{this.strg_amnt_gb}}</td>
                            <td>{{this.mem_amnt_mb}}</td>
                            <td>{{this.mnfctr}}</td>
                            <td>{{this.frm_fctr}}</td>
                            <td>
                                <div class="text-end">
                                    <a href="/edit-item/{{this.id}}" type="button" class="btn btn-light btn-sm mt-1"><i
                                            class="bi bi-pencil"></i>
                                        Edit</a>
                                    <a href="/{{this.id}}" type="button" class="btn btn-danger btn-sm mt-1"><i
                                            class="bi bi-trash"></i>
                                        Delete</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>--}}

                <div class="card mb-3">
                    <h3 class="card-header">{{this.title}}</h3>
                    <div class="card-body">
                        <p class="card-text">{{this.descr}}</p>
                    </div>
                    {{!-- <div class="card-body">
                    </div> --}}
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Manufacturer <strong class="text-primary">{{this.mnfctr}}</strong></li>
                        <li class="list-group-item">Catagory <strong class="text-primary">{{this.catagory}}</strong></li>
                        <li class="list-group-item">Form Factor <strong class="text-primary">{{this.frm_fctr}}</strong></li>
                        <li class="list-group-item">Storage Amount GB
                            <strong class="text-primary">{{this.strg_amnt_gb}}</strong></li>
                        <li class="list-group-item">Memory Amount MB <strong class="text-primary">{{this.mem_amnt_mb}}</strong>
                        </li>
                        <li class="list-group-item">Orgin <strong class="text-primary">{{this.orgin}}</strong></li>
                        <li class="list-group-item">Current <strong class="text-primary">{{this.current}}</strong></li>
                    </ul>
                    <div class="card-body">
                    <a type="button" class="btn btn-warning btn-sm mt-1" data-bs-toggle="modal"
                        data-bs-target="#itemeditmodal{{this.id}}"><i class=" bi bi-pencil"></i> Edit</a>
                    <a type="button" class="btn btn-danger btn-sm mt-1" data-bs-toggle="modal" data-bs-target="#itemdelmodal{{this.id}}"><i
                            class="bi bi-trash"></i>
                        Delete</a>
                    </div>
                    <div class="card-footer text-muted">
                        Part Number: <strong>{{this.part_num}}</strong> | Serial Number:
                        <strong>{{this.serial_num}}</strong>
                        <br />
                        Date Added: <strong>{{this.time_added}}</strong>
                        <br />
                        Last Modified: <strong>{{this.last_modified}}</strong>
                    </div>
                </div>



            </div>
                    {{> itemdelmodal}}
                    {{> itemeditmodal}}
        </div>
        {{/each}}
        <div class="card mb-3">
            <h6 class="card-header">Item Image (If avalable): </h6>
            <img src="{{send}}" alt="No Image Avalable" srcset="" class="img-fluid mx-auto d-block">
            <div class="card-footer">
                <p></p>
            </div>
        </div>

    </div>
</div>